<div class="form-content">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="api-key" class="form-label">OpenAI API Key</label>
      <input class="form-control" id="api-key">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Modelo</label>
      <input class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">MongoDB Atlas URL</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
